#app3 {}

#app3 .square {
    border: 1px solid grey;
    margin-top: 6vw;
    margin-left: 8vw;
    width: 10vw;
    height: 10vw;
    transition: transform 1s;
}

#app3 .square.active {
    border-radius: 50%;
    transform: translateX(15vw)
}